body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 240, 229);
    margin: 0;
    padding: 0;
    height: 100%;
}

.email-container {
    max-width: 600px;
    margin: 0 auto;
    background-color:  rgb(246, 240, 229);
    overflow: hidden;
    padding: 20px;
}

.email-header {
    text-align: center;
    padding: 20px 0;
}

.email-header img {
    max-width: 120px;
    object-fit: cover;
}

.content {
    padding: 20px;
    text-align: left;
    color: #ffffff;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #e0e0e0;
}

.content h2 {
    margin: 0;
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.content p {
    margin: 15px 0;
    line-height: 1.5;
    color: #666666;
}

.signature-container {
    margin-top: 20px;
    background: white;    
}

.signature-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
}

.signature-header img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    /* box-shadow: 3px 3px 3px #868686; */
    border: 1px solid gray;
}

.signature-info {
    flex-grow: 1;
    color: #333;
}
.signature-info h2 {
    margin: 0;
    font-size: 18px;
    color: #0088f7;
}

.signature-info p {
    margin: 0px 0;
    font-size: 12px;
    color: #777;
}

.signature-info a {
    color: #0088f7 ;
    text-decoration: none;
}

.signature-social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signature-social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.signature-footer p{
    margin-top: 0px 0px;
    font-size: 12px;
    color: #6b6a6a;
    text-decoration: none;
    text-align: center;
    background-color: #e7e5e5;
    padding: 5px;
    border: none;
    outline: none;
}